<div id="autobuyStoreSection" class="storeSection" style="display: flex; align-items: center; margin: auto;">
	<div
		style="font-size:28px; font-family: 'Merriweather', Georgia,serif;text-shadow: 0px 1px 4px #000;padding-left:10px; padding-right:10px;">
		<span>Next:</span>
	</div>
	<div id="autoBuyNext" class="crate enabled"></div>
	<div
		style="font-size: 18px; font-family: 'Merriweather', Georgia, serif; text-shadow: 0px 1px 4px #000; padding-left: 10px; padding-right: 10px; max-width: 100px;">
		<span id="autoBuyNextName"></span>
	</div>
</div>